<div *ngIf="animazione" style="padding-top: 80px;padding-bottom: 64px;" >
    <div class="flex-center">
        <div class="titolo animate__animated animate__rubberBand animate__repeat-3">
            <h1>BUON</h1>
            <h1>GIORNO</h1>
        </div>
    </div>
</div>

<div *ngIf="!animazione" style="padding-top: 80px;padding-bottom: 64px;" >
    <div class="flex-center">
        <div class="titolo animate__animated animate__hinge">
            <h1>BUON</h1>
            <h1>GIORNO</h1>
        </div>
    </div>
</div>



