<div class="footer-fisso">
    <div class="navigazione">

        <div class="colonna" routerLink="/today">
            <div class="icona">
                <i class="bi bi-alarm"></i>
            </div>
            <div>
                <span>TODAY</span>
            </div>
        </div>

        <div class="colonna" routerLink="/calendario">
            <div class="icona">
                <i class="bi bi-calendar3"></i>
            </div>
            <div>
                <span>CALENDARIO</span>
            </div>
        </div>

        <div class="colonna" routerLink="/commissioni">
            <div class="icona">
                <i class="bi bi-chat-dots"></i>
            </div>
            <div>
                <span>ATTIVITA</span>
            </div>
        </div>

    </div>
</div>